FIREBASE_ADMIN_CERTS='{ "type": "*********", "project_id": "***********", "private_key_id": "*************", "private_key": "*****************", client_email": "**********", "client_id": "*******", "auth_uri": "********", "token_uri": "********", "auth_provider_x509_cert_url": "********", "client_x509_cert_url": "********" }'
JWKS_URL="https://www.googleapis.com/service_accounts/v1/jwk/securetoken@system.gserviceaccount.com"